{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
</style>

<div class="col-md-4 float-right ">
  <div class="card my-4">
    <h5 class="card-header">About</h5>
    <div class="card-body">
      <p class="card-text"> This blog is created by Vladislav Igumnov, you can visit my VK profile, clicking the button below . . . </p>
      <a href="https://vk.com/wkwkwkwkwkwk" class="btn btn-danger">Visit VK</a>
      <a href="https://docs.djangoproject.com/en/3.1/" class="btn btn-secondary">Django Docs</a>
    </div>
  </div>
</div>

{% endblock sidebar %}